<section>
    <app-intro
        [title]="title"
        [introduction]="introduction"
    ></app-intro>

    <section class="travels-container">
        <app-travel
            [country]="japanName"
            [picture]="japanImg"
            [duration]="japanDuration"
            [purpose]="japanPurpose"
            [summary]="japanSummary"
            [reportName]="japanReportName"
            [reportUrl]="japanReportUrl"
            [reportLabel]="japanReportLabel"
        ></app-travel>
    </section>
</section>