@import "../../../styles.scss";
@import "../../../colors.scss";
@import "../../../fonts.scss";

.travels-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

// Portrait phones
@media screen and (max-width: $breakpoint-phones) {   
    .travels-container {
        gap: 25px;
    }
}

// Tablets
@media screen and (max-width: $breakpoint-tablets) {
    .travels-container {
        grid-template-columns: repeat(1, 1fr);
    }
}