@use "../../../styles.scss";
@use "../../../colors.scss";
@use "../../../fonts.scss";

.travels-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

// Portrait phones
@media screen and (max-width: styles.$breakpoint-phones) {   
    .travels-container {
        gap: 25px;
    }
}

// Tablets
@media screen and (max-width: styles.$breakpoint-tablets) {
    .travels-container {
        grid-template-columns: repeat(1, 1fr);
    }
}