@import '../../../colors.scss';

.footer {
    display: flex;
    bottom: 0; left: 0; right: 0;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: $clr-light-gray;
    padding: 0 1rem;

    p {
        font-size: .7rem;
        margin: 0;
    }
}

@media screen and (min-width: 50rem) {
    .footer {
        height: 6rem;

        p {
            font-size: 1.25rem;
        }
    }
}