<section class="mobility-container">
    <div class="infos">
        <img [src]="mobilitySourceImage">
        <div class="titles">
            <h1>{{ mobilityDestination }}</h1>
            <h2>{{ mobilityPurpose }}</h2>
            <h2>{{ mobilityDuration }} weeks</h2>
        </div>
    </div>
    <div class="summary">
        <h2>Summary</h2>
        <ul>
            <li>{{ mobilitySummary1 }}</li>
            <li>{{ mobilitySummary2 }}</li>
            <li>{{ mobilitySummary3 }}</li>
            <li>{{ mobilitySummary4 }}</li>
        </ul>
    </div>
</section>