@import '../../../colors.scss';

.mobility-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $clr-white;
    color: $clr-background;
    padding: .75rem;
    border-radius: .5rem;

    h2 {
        margin: 0;
        font-size: 1rem;
    }

    .infos {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    
        img {
            height: 5rem;
            width: 100%;
            object-fit: cover;
            border-radius: .25rem;
        }

        .titles {
            padding: 0 .5rem;

            h1 {
                text-transform: uppercase;
                margin: 0;
            }
        }

        .summary {
            width: 100%;
        }
    }

    .summary {
        padding: 0 .5rem;

        ul {
            padding: 0;
            margin: 0 0 0 .75rem;
            list-style-type: none;

            li {
                font-size: .7rem;
            }
        }
    }

    .learn-more {
        display: flex;
        justify-content: center;
        background-color: $clr-primary;
        border: $clr-primary-border solid .1rem;
        border-radius: .25rem;
        padding: .5rem 1rem;
        margin: 0 auto;

        p {
            font-size: 1rem;
            color: $clr-white;
        }
    }
}