<section class="mobility-container">
    <div class="infos">
        <img [src]="mobilitySourceImage">
        <div class="titles">
            <h1>{{ mobilityDestination }}</h1>
            <h2>{{ mobilityPurpose }}</h2>
            <h2><i class="pi pi-calendar"></i> {{ mobilityDuration }} weeks</h2>
        </div>
    </div>
    <div class="summary">
        <h2>Summary</h2>
        <ul>
            <li>{{ mobilitySummary1 }}</li>
            <li>{{ mobilitySummary2 }}</li>
            <li>{{ mobilitySummary3 }}</li>
            <li>{{ mobilitySummary4 }}</li>
        </ul>
    </div>
    <div class="learn-more">
        <p-button icon="pi pi-book" (click)="showDialog()" label="Learn More"></p-button>
        <p-dialog 
            header="My trip to Japan" 
            [modal]="true"
            [(visible)]="visible" 
            [style]="{ width: '50rem' }"
        >
            ALEEEEEEEEEEEED
        </p-dialog>
        <!-- <p>Learn More</p> -->
    </div>
</section>