@import "../../../styles.scss";
@import "../../../colors.scss";
@import "../../../fonts.scss";

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48;
}

.nav {
    display: flex;
    position: sticky;
    top: 4vh;
    z-index: 3;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50vw;
        min-width: 612px;
        height: 60px;
        background-color: $clr-text;
        border-color: $clr-text;
        border-radius: 40vw;
        color: $clr-background;
        font-weight: $font-weight-p-bold;

        .permanent {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .home {
                padding: 0 40px;
                
                a {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: inherit;
                }
        
                a:hover {
                    color: $clr-accent;
                }
            }

            .burger {
                display: none;
            }
        }
    
        .not-permanent {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .links {
                display: flex;
                flex-direction: row;
                justify-content: right;
                align-items: center;
                width: 100%;
                gap: 40px;
                margin-right: 40px;
                
                li > a {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: inherit;
                }
        
                li > a:hover {
                    color: $clr-accent;
                }
            }
        }
    }
}

// Portrait phones
@media screen and (max-width: $breakpoint-phones) {
    .nav {
        .navbar {
            width: 85% !important;
        }
    }
}

// Tablets
@media screen and (max-width: $breakpoint-tablets) {    
    .nav {
        .navbar {
            width: 60%;
            min-width: 0px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
   
            .permanent {
                .burger {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 40px;
    
                    span {
                        font-size: 30px;
                        cursor: pointer;
                    }
                }
            }

            .not-permanent {
                .links {
                    display: none;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin: 0;
                    padding: 0 40px;
                    width: 60%;
                    height: 100%;
                }
    
                .links[aria-expanded=true] {
                    display: flex;
                    width: 100%;
                    gap: 15px;
                }
            }
        }

        .navbar[aria-expanded=true] {
            gap: 25px;
            height: 100%;
            border-radius: 25px;
            padding: 15px 0;
        }
    }
}