<!-- navbar -->
<div class="header-menu" [ariaExpanded]="isMenuOpen">
    <img (click)="onToggleMenu()" [src]="isMenuOpen ? closeIcon : menuIcon" alt="Navbar Menu Icon">
</div>
<nav class="navbar" [ariaExpanded]="isMenuOpen">
    <ul class="navbar-links">
        <li><a (click)="onToggleMenu()" routerLink="/welcome" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Welcome</a></li>
        <li><a (click)="onToggleMenu()" routerLink="/engineering" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Engineering Course</a></li>
        <li><a (click)="onToggleMenu()" routerLink="/international" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">International Mobility</a></li>
        <li><a (click)="onToggleMenu()" routerLink="/sustainability" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Sustainability & Civic Engagment</a></li>
        <li><a (click)="onToggleMenu()" routerLink="/hobbies" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Hobbies</a></li>
        <li><a (click)="onToggleMenu()" routerLink="/career" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Career Development</a></li>
    </ul>
</nav>
