<section class="nav">
    <div class="navbar" [ariaExpanded]="isMenuOpen">
        <div class="permanent">
            <div class="home">
                <a (click)="isMenuOpen=false" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><span class="material-symbols-outlined">home</span>Home</a>
            </div>
            <div class="burger">
                <span (click)="onToggleMenu()" class="material-symbols-outlined">
                    @if (isMenuOpen) {close} 
                    @else {menu}
                </span>
            </div>
        </div>
        <div class="not-permanent">
            <ul class="links" [ariaExpanded]="isMenuOpen">
                <li><a (click)="onToggleMenu()" routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><span class="material-symbols-outlined">school</span>Engineering Courses</a></li>
                <li><a (click)="onToggleMenu()" routerLink="/engagement" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><span class="material-symbols-outlined">diversity_3</span>Civic Engagement</a></li>
                <li><a (click)="onToggleMenu()" routerLink="/travels" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><span class="material-symbols-outlined">flight_takeoff</span>International Mobility</a></li>
                <li><a (click)="onToggleMenu()" routerLink="/career" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><span class="material-symbols-outlined">work</span>Career Development</a></li>
            </ul>  
        </div>
    </div>
</section>
