<div class="profile">
    <app-introduction
        [title]="title"
        [subtitle]="subtitle"
        [description]="description"
        [sourceImage]="sourceImage"
    ></app-introduction>
</div>

<div class="contacts">
    <a class="linkedin" target="_blank" href="https://linkedin.com/in/quentin-pointeau/"><img src="../../../assets/images/LinkedIn_icon.png" alt="LinkedIn"></a>
    <a class="github" target="_blank" href="https://github.com/QuentinMP2"><img src="../../../assets/images/github.png" alt="Github"></a>
    <a class="mail" target="_blank" href="mailto:contact@quentin-pointeau.fr"><span>contact&#64;quentin-pointeau.fr</span></a>
</div>
