.hobbies-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
}

@media screen and (min-width: 45rem) {
    .hobbies-container {
        gap: 5rem;
    }
}

@media screen and (min-width: 65rem) {
    .hobbies-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}

@media screen and (min-width: 80rem) {
    
}

@media screen and (min-width: 90rem) {
    .hobbies-container {
        gap: 5rem;
    }
}

@media screen and (min-width: 110rem) {

}