<app-introduction
    [title]="title"
    [description]="description"
></app-introduction>

<section class="hobbies-container">
    <app-hobby
        [hobbyDescription]="photo7Description"
        [hobbySourceLogo]="photo7SourceLogo"
        [hobbyUrl]="photo7Url"
    ></app-hobby>
    
    <app-hobby
        [hobbyDescription]="tvn7Description"
        [hobbySourceLogo]="tvn7SourceLogo"
        [hobbyUrl]="tvn7Url"
    ></app-hobby>

    <app-hobby
        [hobbyDescription]="net7Description"
        [hobbySourceLogo]="net7SourceLogo"
        [hobbyUrl]="net7Url"
    ></app-hobby>
</section>