<section>
    <app-intro
        [title]="title"
        [introduction]="introduction"
    >
    </app-intro>

    <section class="hobby-container">
        <app-hobby pAnimateOnScroll enterClass="animate-fadein" leaveClass="animate-fadeout"
            [name]="photo7Name"
            [backgroundImg]="photo7BackgroundImg"
            [logo]="photo7Logo"
            [redirect]="photo7Redirect"
            [description]="photo7Description"
            [skills]="photo7Skills"
        ></app-hobby>

        <app-hobby
            [name]="tvn7Name"
            [backgroundImg]="tvn7BackgroundImg"
            [logo]="tvn7Logo"
            [redirect]="tvn7Redirect"
            [description]="tvn7Description"
            [nbHours]="tvn7NbHours"
            [skills]="tvn7Skills"
        ></app-hobby>

        <app-hobby
            [name]="net7Name"
            [backgroundImg]="net7BackgroundImg"
            [logo]="net7Logo"
            [redirect]="net7Redirect"
            [description]="net7Description"
            [nbHours]="net7NbHours"
            [skills]="net7Skills"
        ></app-hobby>

        <app-hobby
            [name]="CDLName"
            [backgroundImg]="CDLBackground"
            [logo]="CDLLogo"
            [redirect]="CDLRedirect"
            [description]="CDLDescription"
            [nbHours]="CDLNbHours"
            [skills]="CDLSkills"
        ></app-hobby>

        <app-hobby
            [name]="thconName"
            [backgroundImg]="thconBackground"
            [logo]="thconLogo"
            [isRounded]="true"
            [redirect]="thconRedirect"
            [description]="thconDescription"
            [nbHours]="thconNbHours"
            [skills]="thconSkills"
        ></app-hobby>

        <app-hobby
            [name]="TMREName"
            [backgroundImg]="TMREBackground"
            [logo]="TMRELogo"
            [redirect]="TMRERedirect"
            [description]="TMREDescription"
            [nbHours]="TMRENbHours"
            [skills]="TMRESkills"
        ></app-hobby>
    </section>
</section>
