/* Colors */
$clr-primary: hsl(150, 100%, 60%);
$clr-primary-darker: hsla(150, 100%, 60%, 5%);
$clr-background: hsl(150, 30%, 5%);
$clr-background-bis: #0f0f12;
$clr-white: #ffffff;
$clr-black: #000000;
$clr-light-gray: #333333;   