@use 'fonts.scss';
@use 'colors.scss';

body {
    font-family: fonts.$font-family;
    color: colors.$clr-text;
    background-color: colors.$clr-background;
    margin: 0;

    h1 {
        font-size: fonts.$font-size-h1;
        font-weight: fonts.$font-weight-h1;
        line-height: fonts.$line-height-h1;
        letter-spacing: fonts.$letter-spacing-h1;
        margin: 0;
    }

    h2 {
        font-size: fonts.$font-size-h2;
        font-weight: fonts.$font-weight-h2;
        letter-spacing: fonts.$letter-spacing-h2;
        margin: 0;
    }

    h3 {
        font-size: fonts.$font-size-h3;
        font-weight: fonts.$font-weight-h3;
        margin: 0;
    }

    p {
        font-size: fonts.$font-size-p;
        font-weight: fonts.$font-weight-p;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: colors.$clr-text;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 40px;
        padding: 0;
        border-style: none;
        border-radius: 10px;
        box-shadow: none;
        background-color: colors.$clr-primary;
        color: colors.$clr-background;

        a {
            color: inherit;
        }

        &:focus {
            outline: none;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

$breakpoint-phones: 450px;
$breakpoint-tablets: 1050px;

// Portrait phones
@media screen and (max-width: $breakpoint-phones) {
    body {
        h1 {
            font-size: fonts.$font-size-h1-phones !important;
            letter-spacing: fonts.$letter-spacing-h1-phones !important;
        }

        h2 {
            font-size: fonts.$font-size-h2-phones !important;
        }
    
        h3 {
            font-size: fonts.$font-size-h3-phones !important;

        }
    
        p {
            font-size: fonts.$font-size-p-phones !important;
        }
    }
}

// Tablets
@media screen and (max-width: $breakpoint-tablets) {
    body {
        h1 {
            font-size: fonts.$font-size-h1-tablets;
            letter-spacing: fonts.$letter-spacing-h1-tablets !important;
        }

        h2 {
            font-size: fonts.$font-size-h2-tablets;
        }
    
        h3 {
            font-size: fonts.$font-size-h3-tablets;
        }
    
        p {
            font-size: fonts.$font-size-p-tablets;
        }
    }
}