@import 'fonts.scss';
@import 'colors.scss';

body {
    font-family: $font-family;
    color: $clr-text;

    h1 {
        font-size: $font-size-h1;
        font-weight: $font-weight-h1;
        line-height: $line-height-h1;
        letter-spacing: $letter-spacing-h1;
        margin: 0;
    }

    h2 {
        font-size: $font-size-h2;
        font-weight: $font-weight-h2;
        margin: 0;
    }

    h3 {
        font-size: $font-size-h3;
        font-weight: $font-weight-h3;
        margin: 0;
    }

    p {
        font-size: $font-size-p;
        font-weight: $font-weight-p;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: $clr-text;
    }

    ul {
        list-style: none;
    }
}

$breakpoint-phones: 450px;
$breakpoint-tablets: 1050px;

// Portrait phones
@media screen and (max-width: $breakpoint-phones) {
    body {
        h1 {
            font-size: $font-size-h1-phones !important;
            letter-spacing: $letter-spacing-h1-phones !important;
        }

        h2 {
            font-size: $font-size-h2-phones !important;
        }
    
        h3 {
            font-size: $font-size-h3-phones !important;

        }
    
        p {
            font-size: $font-size-p-phones !important;
        }
    }
}

// Tablets
@media (max-width: $breakpoint-tablets) {
    body {
        h1 {
            font-size: $font-size-h1-tablets;
            letter-spacing: $letter-spacing-h1-tablets !important;
        }

        h2 {
            font-size: $font-size-h2-tablets;
        }
    
        h3 {
            font-size: $font-size-h3-tablets;
        }
    
        p {
            font-size: $font-size-p-tablets;
        }
    }
}